<div class="happkido-header-white-space">
</div>
<nav class="navbar navbar-default happkido-header">
  <div class="container-fluid">
  <div id="left">
        <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="header-title">Happkido</span></a>
    </div>
    </div>

    <div id="right">
      <div class="happkido-header-menu">
        <ul class="nav navbar-right">
          <li class="dropdown happkido-header-dropdown">
            <button href="#" class="dropdown-toggle btn btn-default happkido-menu-btn" data-toggle="dropdown" role="button"  aria-expanded="false"> 
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Action</a></li>
              <li role="separator" class="divider" ng-if="isLoggedIn"></li>
              <li ng-if="isLoggedIn"><a ng-href="#/login" ng-click="logout()">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div id="mid">
      <div>
        <span class="users-name" ng-bind="user.firstName" ng-if="isLoggedIn"></span>
      </div>
    </div>
  </div>
</nav>

