body {
    padding: 51px 0;
    background-color: #000066;
    background-image: url("/images/kick-icon-blue.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -80px 380px;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-fixed-top .navbar-collapse{
    max-height: 500px;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #0dadda;
}

.header-padding{
    padding-top: 45px;
}

.flash-message {
    margin-top: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.add-new-user-btn{
    color: white;
}

p{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

label{
    color: white;
}

.modal-text-colour p{
    color: black;
}

.modal-text-colour label{
    color: black;
}

.nav-bar-colour{
    background-color: #00004d;
    color: white;
    list-style-type: none;
}

.navbar-happkido
{
    margin-top: 5px;
    margin-left: 10px;
    height: 100%;
}

.nav-bar-white{
    color: white;
    font-size: 22px;
}

/*.header-logo-centre{
    margin-left: auto;
    margin-right: auto;
}*/

.blue-box {
    height: 45px;
    font-size: 28px;
    color: #000000;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 999;
}

.blue-box-centered{
    text-align: center;
}

/*.nav-bar-right{
    position: relative;
    float: right;
}*/
/*

.nav-bar-left{
    position: absolute;
}
*/

/*.nav-bar-brand{
    margin-left: auto !important;
}*/

.box-white{
    background-color: whitesmoke;
    color: black;
}

.box-yellow1{
    background-color: #ffea91;
    color: black;
}

.box-yellow2{
    background-color: #fcdc6a;
    color: black;
}

.box-yellow3{
    background-color: #ffd400;
    color: black;
}

.box-blue1{
    background-color: #8fe4fc;
    color: white;
}

.box-blue2{
    background-color: #22aed8;
    color: white;
}

.box-blue3{
    background-color: #0b96bc;
    color: white;
}

.box-red1{
    background-color: #ff8787;
    color: white;
}

.box-red2{
    background-color: #ff5151;
    color: white;
}

.box-red3{
    background-color: #f70707;
    color: white;
}

.box-black{
    background-color: #353434;
    color: white;
}

.technique-modal-padding {
    margin-bottom: 10px;
}

.thumbnail-box{
    width: 170px;
    margin-bottom: -0;
    text-align: center;
}

.thumbnail-box-manual{
    height: 140px;
    padding-top: 10px;
}

.thumbnail-box:hover{
    border: 1px solid;
}

.thumb-nail-container{
    display: inline-block;
    margin-right: 10px;
}

.outer{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.technique-filters{
    text-align: left;
}

.sort-by{
    text-align: left;
    margin-left: 10%;
    font-size: 18px;
    vertical-align: middle;
}

.filter-grades{
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 3px;

}
.filter-grade{

}

.video-length{
    color: dimgray;
    font-style: italic;
}

.sort-by-options{
    vertical-align: top;
    margin-top: 6px;
    width: auto;
    display: inline-block;
    height: 31px;
}

.padding-remover {
    padding: 0px 15px 10px 15px;
}

.translation-table{
    color: white;
    background-color: #00004d;
    opacity: 0.9;
}

.hover-attempt:hover {
    background-color: #353593;
    opacity: 0.9;
}

.home-page-button{
    background-color: transparent;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.home-page-button:hover{
    background-color: transparent;
    opacity: 0.8;
    border: none;
    overflow: hidden;
    height: 100%;
    z-index: 12;
}

.home-page-button:active{
    background-color: transparent;
    opacity: 0.8;
    border: none;
    overflow: hidden;
    height: 100%;
    z-index: 12;
}

.home-page-button:active:hover{
    background-color: transparent;
    opacity: 0.8;
    border: none;
    overflow: hidden;
    height: 100%;
    z-index: 12;
}

.home-page-button:focus{
    background-color: transparent;
    opacity: 0.8;
    border: none;
    overflow: hidden;
    height: 100%;
    z-index: 12;
}

.home-page-centered{
    text-align: center;
}

.centered-manual{
    text-align: center;
}

.viewer-well{
    width: 70px;
    display: inline-block;
    margin-bottom: -20px;
}

.documents-in-manual{
    display: inline-flex;
    padding-right: 10px;
    padding-bottom: 10px;
}

.file-icon{
    font-size: 75px;
}

.hide-video{
    /*height: 0;
    width: 0;*/
    /*
    visibility: hidden;
    */
}

.color-black{
    color: black;
}

.passwordResetModal{
    display: none;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}