body {
    padding: 58px 0;
    background-color: #000066;
}

.flash-message {
    margin-top: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.add-new-user-btn{
    color: white;
}

p{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

label{
    color: white;
}

.modal-text-colour p{
    color: black;
}

.modal-text-colour label{
    color: black;
}

.nav-bar-colour{
    background-color: #00004d;
    color: white;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.nav-bar-white{
    color: white;
    font-size: 22px;
}

.header-logo-centre{
    margin-left: auto;
    margin-right: auto;
}

.blue-box {
    height: 40px;
    background-color: #0dadda;
    text-align: center;
    font-size: 28px;
    color: #000000;
    width: 100%;
}