body {
    padding: 20px 0;
    background-color: #000066;
}

.flash-message {
    margin-top: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.add-new-user-btn{
    color: white;
}

p{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

label{
    color: white;
}

.modal-text-colour p{
    color: black;
}

.modal-text-colour label{
    color: black;
}