<div class="blue-box" ng-class="'box-' + vm.user.grade.grade"></div>
<div class="header-padding"></div>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>


<h1>Edit User</h1>


<button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#userModal">
    Add new user
</button>

<div ng-if="true">
    <div class="table-responsive scrollTable">
        <table class="table translation-table">
            <thead class="class-attendance-table-header">
            <tr>
                <th class="">Edit</th>
                <th class="class-attendance-names">First name</th>
                <th class="class-attendance-names">Last name</th>
                <th class="class-attendance-names">Grade</th>
                <th class="class-attendance-names">Username</th>
                <th class="class-attendance-names">Attendance (Year)</th>
                <th class="class-attendance-names">Last Logged In</th>
            </tr>
            </thead>
            <tbody class="class-attendance-table-body">
            <tr ng-repeat="student in vm.allUsers" class="hover-attempt">
                <td class=""><a href="#" ng-click="vm.editUser(student, $index)" data-toggle="modal" data-target="#userModal"><span class="glyphicon glyphicon-pencil"></span> </a></td>
                <td class="class-attendance-names">{{student.firstName}}</td>
                <td class="class-attendance-names">{{student.lastName}}</td>
                <td class="class-attendance-names">{{student.grade.displayName}}</td>

                <td class="class-attendance-names">{{student.username}}</td>
                <td class="class-attendance-names">{{student.attendance.length}}</td>
                <td class="class-attendance-names">{{student.lastLoggedIn}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-text-colour" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a new user</h4>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <form method="post">
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input type="text" id="firstName" class="form-control" ng-model="vm.userForEdit.firstName" required />
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" id="lastName" class="form-control" ng-model="vm.userForEdit.lastName" required />
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control" ng-model="vm.userForEdit.username" required />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" ng-model="vm.userForEdit.password"/>
                        </div>
                        <div class="form-group">
                            <label for="grade">Grade</label>
                            <select name="grade" id="grade" class="form-control" ng-model="vm.userForEdit.grade.grade" required>
                                <option value="white">White</option>
                                <option value="yellow1">Yellow 1</option>
                                <option value="yellow2">Yellow 2</option>
                                <option value="yellow3">Yellow 3</option>
                                <option value="blue1">Blue 1</option>
                                <option value="blue2">Blue 2</option>
                                <option value="blue3">Blue 3</option>
                                <option value="red1">Red 1</option>
                                <option value="red2">Red 2</option>
                                <option value="red3">Red 3</option>
                                <option value="black">Black</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p><input type="checkbox" name="admin" class="form-control" ng-model="vm.userForEdit.isAdmin" id="isAdmin" value="true"> Administrator</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="vm.deleteUser(vm.userForEdit._id)" data-dismiss="modal">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="vm.create()" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>