<div class="blue-box" ng-class="'box-' + vm.user.grade.grade">
    <div class="technique-filters">
        <span class="sort-by" ng-class="'box-' + vm.user.grade.grade">Sort by:</span>
        <select  class="form-control sort-by-options" ng-model="vm.filteredBy" ng-change="vm.filterByType(vm.filteredBy)"
                 data-ng-options="filter for filter in vm.filters">
        </select>
    </div>

</div>
<div class="header-padding"></div>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>


<h1>Techniques</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div ng-repeat="set in vm.sets">
        <div class="panel panel-default">
            <a role="button" data-toggle="collapse" data-parent="#accordion" ng-href="{{vm.removeWhiteSpaceId(set)}}"
               aria-expanded="false" aria-controls="{{vm.removeWhiteSpace(set)}}">
                <div class="panel-heading" role="tab" id="{{set}}">
                    <h4 class="panel-title">
                            {{set}} - <span class="video-length">{{(vm.techniqueSets[set]).length}} videos</span>
                    </h4>
                </div>
            </a>
            <div ng-attr-id="{{vm.removeWhiteSpace(set)}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{set}}">
                <div class="panel-body padding-remover">
                    <div class="outer">
                        <div ng-repeat="technique in vm.techniqueSets[set]" class="thumb-nail-container">
                            <a ng-if="technique.url != undefined && technique.url != null" ui-sref="technique({id: technique._id})">
                                <div class="thumbnail-box thumbnail" ng-class="'box-' + technique.grade.grade">
                                        <img src="http://img.youtube.com/vi/{{technique.url}}/0.jpg" height="113px" width="150px">
                                    <h5>{{technique.techniqueName}}</h5>
                                </div>
                            </a>
                            <div ng-if="technique.url === undefined || technique.url === null">
                                <div class="thumbnail-box thumbnail" ng-class="'box-' + technique.grade.grade">
                                        <img src="/images/no_video_available.png" height="113px" width="150px">
                                    <h5>{{technique.techniqueName}}</h5>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="technique-modal-padding"></div>
    </div>
</div>