<div class="blue-box" ng-class="'box-' + vm.user.grade.grade"></div>
<div class="header-padding"></div>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>


<h1>Techniques</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div ng-repeat="set in vm.sets">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="{{set}}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" ng-href="{{vm.removeWhiteSpaceId(set)}}" aria-expanded="false" aria-controls="vm.removeWhiteSpace(set)">
                        {{set}}
                    </a>
                </h4>
            </div>
            <div ng-attr-id="{{vm.removeWhiteSpace(set)}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{set}}">
                <div class="panel-body">
                    <div ng-repeat="technique in vm.techniqueSets[set]">
                        <p>{{technique.techniqueName}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="technique-modal-padding"></div>
    </div>
</div>