<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
        body {
            padding-top: 100px;
            background-color: #000066;
        }

        .form-container {
            margin: auto;
            width: 70%;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }

        .text-color-white{
            color:white;
        }

        .center-of-screen{
            text-align: center;
        }
    </style>
</head>
<body>