<div class="blue-box" ng-class="'box-' + vm.user.grade.grade">
</div>
<div class="header-padding"></div>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>


<h1>Terminology</h1>

<div class="table-responsive">
    <table class="table translation-table">
        <thead>
            <tr>
                <th>Korean</th>
                <th>English</th>
                <th class="hidden-xs hidden-sm">Listen</th>
                <th class="hidden-md hidden-lg">Video</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="translation in vm.translations" class="hover-attempt">
                <td>{{translation.korean}}</td>
                <td>{{translation.english}}</td>
                <td>
                    <button type="button" class="btn btn-default btn-xs" ng-if="!translation.loadSound">
                        <span class="glyphicon glyphicon-play" ng-click="vm.playTranslation(translation)"></span>
                    </button>

                    <div ng-if="translation.loadSound">
                        <iframe width="65px" height="70px" scrolling="no" frameborder="no" ng-src="{{vm.trustedUrl(translation.url)}}"></iframe>
                    </div>
                </td>


            </tr>
        </tbody>
    </table>
</div>