<div ng-controller="Account.PersonalInformation">
    <div class="row">
        <div class="col-md-3 personal-info-picture-col">
            <img class="personal-info-profile-picture" src="https://happkido.s3-ap-southeast-2.amazonaws.com/no-profile-picture.gif">
        </div>
        <div class="col-md-9">
            <h4>{{user.firstName}} {{user.lastName}}</h4>
                <form method="post">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" id="password" class="form-control" ng-model="user.password" />
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input type="password" id="passwordConfirm" class="form-control" ng-model="confirmPassword" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="saveUser()">Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>