<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>H-app-kido</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app-content/app.css" rel="stylesheet" />
    <link href="app-content/massautocomplete.theme.css" rel="stylesheet" type="text/css">


    <!-- external scripts -->
    <script></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

    <script src="app.js"></script>

    <!--services-->
    <script src="app-services/user.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    <script src="app-services/grade.service.js"></script>
    <script src="app-services/technique.service.js"></script>
    <script src="app-services/translation.service.js"></script>
    <script src="app-services/document.service.js"></script>


    <script src="home/index.controller.js"></script>
    <script src="account/index.controller.js"></script>
    <script src="editUser/index.controller.js"></script>
    <script src="manual/index.controller.js"></script>
    <script src="techniques/index.controller.js"></script>
    <script src="techniques/techniques.controller.js"></script>
    <script src="techniques/technique.controller.js"></script>
    <script src="translations/translations.controller.js"></script>
    <script src="translations/soundcloud.directive.js"></script>
    <script src="translations/index.controller.js"></script>
    <script src="manual/manuals.controller.js"></script>
    <script src="manual/manual.controller.js"></script>

    <!-- application scripts -->
    <script src="js/angular-ui-router.js"></script>
    <script src="js/massautocomplete.js"></script>
    <script src="https://rawgit.com/Narzerus/angular-permission/master/dist/angular-permission.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-youtube-embed.js"></script>
    <script src="js/angular-soundcloud-widget.js"></script>
</head>
<body class="container">
    <header>

        <nav class="navbar navbar-default navbar-fixed-top nav-bar-colour">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-controls="navbar" id="menuDropDown" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <li class="navbar-happkido" ng-class="{active: activeTab === 'home'}">
                        <a ui-sref="home" class="navbar-happkido">
                            <span class="nav-bar-white" aria-hidden="true">
                                <img src="/images/happkidoiconwhite.png" alt="Happkido Logo" height="25px">
                            </span>
                        </a>
                    </li>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{active: activeTab === 'account'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="account"><img class="profile-picture" src="/images/no-profile-picture.gif" height="22px"> Account</a></li>
                        <li ng-class="{active: activeTab === 'techniques'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="techniques"><img src="/images/Techniques.png" height="22px"> Techniques</a></li>
                        <li ng-class="{active: activeTab === 'translations'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="translations"> <img src="/images/Hangul.png" height="22px"> Translations</a></li>
                        <li ng-class="{active: activeTab === 'manuals'}"><a ng-click="closeDropDown()" class="menu-link dropdown-toggle" ui-sref="manuals"><img src="/images/Manual.png" height="22px"> Manual</a></li>
                        <li ng-if="currentUser.isAdmin" role="separator" class="divider"></li>
                        <li ng-if="currentUser.isAdmin && isMobile" ng-class="{active: activeTab === 'editUser'}"><a ng-click="closeDropDown()" class="menu-link dropdown-toggle" ui-sref="editUser">Edit Users</a></li>
                        <li ng-if="currentUser.isAdmin && isMobile" ng-class="{active: activeTab === 'editTechniques'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="editTechniques">Edit Techniques</a></li>
                        <li ng-if="currentUser.isAdmin && isMobile" ng-class="{active: activeTab === 'editTranslations'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="editTranslations">Edit Translations</a></li>
                        <li ng-if="currentUser.isAdmin && isMobile" ng-class="{active: activeTab === 'editDocuments'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="editDocuments">Edit Documents</a></li>

                        <li ng-if="currentUser.isAdmin && !isMobile" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-if="currentUser.isAdmin" ng-class="{active: activeTab === 'editUser'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="editUser">Edit Users</a></li>
                                <li ng-if="currentUser.isAdmin" ng-class="{active: activeTab === 'editTechniques'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="editTechniques">Edit Techniques</a></li>
                                <li ng-if="currentUser.isAdmin" ng-class="{active: activeTab === 'editTranslations'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="editTranslations">Edit Translations</a></li>
                                <li ng-if="currentUser.isAdmin" ng-class="{active: activeTab === 'editDocuments'}"><a ng-click="closeDropDown()" class="menu-link" ui-sref="editDocuments">Edit Documents</a></li>
                            </ul>
                        </li>

                        <li role="separator" class="divider"></li>
                        <li><a href="/login" target="_self">Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>

    <!-- main -->
    <main ui-view></main>

    <!-- footer -->
    <footer></footer>



</body>
</html>