<div class="blue-box" ng-class="'box-' + vm.user.grade.grade"></div>
<div class="header-padding"></div>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>

<h1> Class Attendance</h1>
<div class="color-white" ng-if="vm.isMobile">This feature is not ready for the mobile enviroment yet</div>
<div ng-if="!vm.isMobile">
    <div class="table-responsive">
        <table class="table translation-table translation-table-header">
            <thead class="class-attendance-table-header">
            <tr>
                <th class="class-attendance-names">Name</th>
                <th class="class-attendance-date-headers class-attendance-column-width" ng-repeat="date in vm.dates">{{date.date}} {{date.dayName}}</th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="table-responsive class-attendance-table scrollTable">
        <table class="table translation-table">
            <tbody class="class-attendance-table-body">
            <tr ng-repeat="student in vm.studentsAttendance" class="hover-attempt">
                <td class="class-attendance-names">{{student.name}}</td>
                <td class="class-attendance-column-width" ng-repeat="attended in student.attendance">
                    <span>{{attended.didAttend}}</span>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>