<div class="blue-box" ng-class="'box-' + vm.user.grade.grade">
    <div class="technique-filters">
        <div ng-if="googleHasBeenAuthenticated"></div>
            <div ng-if="!vm.isMobile">
                <span class="sort-by" ng-class="'box-' + vm.user.grade.grade">Month:</span>
                <select  class="form-control sort-by-options" ng-model="vm.sortByMonth" ng-change="vm.getSheetData()"
                         data-ng-options="sheet for sheet in vm.sheetNames">
                </select>
            </div>
            <div ng-if="vm.isMobile">
                <span class="sort-by" ng-class="'box-' + vm.user.grade.grade">Month:</span>
                <select  class="form-control sort-by-options" ng-model="vm.sortByMonth" ng-change="vm.getSheetData()"
                         data-ng-options="sheet for sheet in vm.sheetNames">
                </select>

                <span class="sort-by-field-2" ng-class="'box-' + vm.user.grade.grade">Date:</span>
                <select  class="form-control sort-by-options" ng-model="vm.sortByDate" ng-change="vm.displayByDate()"
                         data-ng-options="date.date for date in vm.dates">
                </select>
            </div>
        </div>
    </div>
</div>
<div class="header-padding"></div>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>

<h1> Class Attendance</h1>
<spinner name="mySpinner" img-src="https://happkido.s3-ap-southeast-2.amazonaws.com/loading.gif" show="vm.isLoading"></spinner>
<div ng-if="!googleHasBeenAuthenticated">
    <p>Google didn't authenticate properly, please refresh your page. If the issue continues to occur please email Rebekah at rebekahapelt@gmail.com</p>
</div>
<div ng-if="googleHasBeenAuthenticated && !vm.isLoading">

    <!--Desktop-->
    <div ng-if="!vm.isMobile">
        <div class="table-responsive">
            <table class="table translation-table translation-table-header">
                <thead class="class-attendance-table-header">
                <tr>
                    <th class="class-attendance-names">Name</th>
                    <th class="class-attendance-date-headers class-attendance-column-width" ng-repeat="date in vm.dates"><span>{{date.date}}</span> <br/> <span>{{date.dayName}}</span></th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="table-responsive class-attendance-table scrollTable">
            <table class="table translation-table">
                <tbody class="class-attendance-table-body">
                <tr ng-repeat="student in vm.studentsAttendance" class="hover-attempt">
                    <td class="class-attendance-names">{{student.name}}</td>
                    <td class="class-attendance-column-width" ng-repeat="attended in student.attendance">
                        <span>{{attended.didAttend}}</span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Mobile-->
    <div ng-if="vm.isMobile">
        <div class="table-responsive">
            <table class="table translation-table translation-table-header">
                <thead class="class-attendance-table-header">
                <tr>
                    <th class="class-attendance-names">Name</th>
                    <th class="class-attendance-date-headers class-attendance-column-width">{{vm.sortByDate.date}}</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="table-responsive class-attendance-table scrollTable">
            <table class="table translation-table">
                <tbody class="class-attendance-table-body">
                <tr ng-repeat="student in vm.sortedAttendance" class="hover-attempt">
                    <td class="class-attendance-names">{{student.name}}</td>
                    <td class="class-attendance-column-width">
                        <span>{{student.attended.didAttend}}</span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>