<div class="blue-box" ng-class="'box-' + vm.user.grade.grade">
</div>
<div class="header-padding"></div>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>

<h1>Grading Dates</h1>
<spinner name="mySpinner" img-src="/images/loading.gif" show="vm.isLoading"></spinner>
<div ng-if="!googleHasBeenAuthenticated">
    <p>Google didn't authenticate properly, please refresh your page. If the issue continues to occur please email Rebekah at rebekahapelt@gmail.com</p>
</div>
<div ng-if="googleHasBeenAuthenticated && !vm.isLoading">

</div>

